<div class="about-page">
    <div class="about-figma">
        <%= link_to("", "/about/account", class: "about-btn account-btn") %>
        <%= link_to("", "#", class: "about-btn event-btn") %>
        <%= link_to("", "#", class: "about-btn work-btn") %>
    </div>
</div>