<div class="account-page">
    <div class="account-figma">
        <%= link_to("", "/events/index", class: "account-none-btn") %>
        <%= link_to("", "/users/new", class: "account-use-btn") %>
    </div>
</div>