<div class="container">
    <div class="service-wrap row text-center">
        <div class="col-4">
            <%= link_to("マッチングする", "/events/index", class: "app") %>
        </div>
        <div class="col-4">
            <%= link_to("作品一覧", "#", class: "app") %>
        </div>
        <div class="col-4">
            <%= link_to("使い方", "#", class: "app") %>
        </div>
    </div>
</div>