<div class="home-page">
    <div class="row-up row pt-2">
        <div class="col-left col-sm-6 text-center pb-5">
            <h1>手軽なマッチングで</h1>
            <%= image_tag "/assets/ネットワーク３.png" %>
        </div>
        <div class="col-right col-sm-6 text-center">
            <%= image_tag "/assets/pro.png", height: "250px" %>
            <h1 class="text-center">ハッカソンを体験</h1>
        </div>
    </div>
    <div class="row-down row">
        <div class="col-up col-12">
            <h1 class="text-center">こんな方にオススメ！</h1>
            <div class="sub-title">
                <h1>・ハッカソンをしたい方</h1>
                <h1>・チーム開発の練習したい方</h1>
                <h1>・1人での開発に飽きた方</h1>
            </div>
        </div>
        <div class="col-down col-12 text-center">
            <h1>無料ではじめる</h1>
            <%= link_to("利用する", "/events/index", class: "btn btn-secondary btn-lg mt-3") %>
        </div>
    </div>

</div>