<div class="home-page" style="height: 600px;">
    <div class="service-wrap row text-center">
        <div class="col-4">
            <%= link_to("イベント一覧", "/events/index", class: "app") %>
        </div>
        <div class="col-4">
            <%= link_to("作品一覧", "#", class: "app") %>
        </div>
        <div class="col-4">
            <%= link_to("使い方", "#", class: "app") %>
        </div>
    </div>
</div>