<div class="container">
    <%= render partial: 'test_test', locals: {name: "山田", comment: "おはよう"}  %>
</div>

<div class="test-figma" style="height:896px;">
    <%= image_tag "/assets/テストfigma.png", height: "896px", class: "card-img-top" %>
</div>