<div class="container">
    <div class="event-wrap">
        <div class="card m-3" style="width: 100%;">
            <div class="card-body">
                <h3 class="card-title">お正月ミニハッカソン</h3>
                <h6 class="card-subtitle mb-2 text-muted">言語　Ruby,Python</h6>
                <p class="card-text">大学生募集中　一緒に作りましょう</p>
                <a href="#" class="card-link">詳しくみる</a>
            </div>
        </div>

        <div class="card m-3" style="width: 100%;">
            <div class="card-body">
                <h3 class="card-title">お正月ミニハッカソン</h3>
                <h6 class="card-subtitle mb-2 text-muted">言語　Ruby,Python</h6>
                <p class="card-text">大学生募集中　一緒に作りましょう</p>
                <a href="#" class="card-link">詳しくみる</a>
            </div>
        </div>
    </div>
</div>