// formページ
.comment-form {
    .name-form {
        width: 25%;
    }

    .comment-form {
        width: 50%;
    }
}

// indexページ
.comment-area {
    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1.2rem;
    }
}


// レスポンシブ
@media (max-width: 600px) {
    // formページ
    .comment-form {
        .name-form {
            width: 50%;
        }

        .comment-form {
            width: 100%;
        }
    }

    // indexページ
    .comment-area {
        h5 {
            font-size: 0.8rem;
        }

        h6 {
            font-size: 0.8rem;
        }

        .btn {
            font-size: 0.8rem;
        }
    }
}