// indexページ
.index-page {
    height: 100%;

    .search-wrap {
        margin-top: 30px;
        border: 1px solid black;

        & p {
            padding: 12px 30px;
        }

        .search_form_wrap {
            padding: 10px 30px 30px 30px;
            background-color: white;
            .search_form_group {
                margin-right: auto;
                .label {
                    font-size: 1rem;
                    margin: 10px 0;
                }
            }

            .keyword {
                margin-right: 30px;
            }

            #q_sorts { padding: 4px; width: 20%; }
        }
    }

    .event-wrap {
        margin-top: 40px;
    }
}



// showページ
.show-page {
    .event-show {
        margin-top: 60px;
    }
}

// tableページ
