// indexページ
.index-page {
    height: 100%;
    // background-color: black;

    .search_form_wrap {
        margin-top: 30px;
        padding: 30px;
        background-color: white;
        border: 1px solid black;
        .search_form_group {
            .label {
                font-size: 1rem;
                margin: 10px 0;
            }
        }
    }

    .event-wrap {
        margin-top: 40px;
    }
}



// showページ
.show-page {
    .event-show {
        margin-top: 100px;
    }
}
