// indexページ
.event-index {
    height: 100%;
    padding-bottom: 100px;

    // 検索フォーム
    .search-wrap {
        margin-top: 30px;
        padding: 2px;
        border: 1px solid #DDD;
        border-radius: 10px;

        & p {
            padding: 12px 30px;
            background-color: #F5F5F5;
        }

        .search_form_wrap {
            padding: 10px 30px 30px 30px;
            background-color: white;
            .search_form_group {
                margin-right: auto;
                .label {
                    font-size: 1rem;
                    margin: 10px 0;
                }
            }

            .keyword {
                margin-right: 30px;
            }
            
            .select-btn {
                width: 20%;
            }

        }
    }

    .event-wrap {
        margin-top: 40px;
    }
}


// showページ
.show-show {
    padding-bottom: 100px;

    .profile {
        padding: 15px;
        margin: 25px 0;
        background-color:#DDD;
        border-radius:10px;
    }

    .event-show {
        margin-top: 100px;
    }

    .work-show {
        margin-top: 100px;
    }

    .comment-show {
        margin-top: 150px;
    }
}


// レスポンシブ
@media (max-width: 600px) {
    // indexページ
    .event-index {
        .search-wrap {
            .search_form_wrap {
                .search_form_group {
                    .label {
                        display: block;
                        margin: 5px 0;
                    }
                }
    
                .keyword {
                    margin-right: 0px;
                }
    
                .select-btn { 
                    width: 100%;
                }
            }
        }

        .event-wrap {
            .btn {
                margin: 0;
            }
            .card-title {
                margin: 15px 0;
                font-size: 1.2rem;
            }
            .card-subtitle, .card-text {
                font-size: 0.8rem;
            }
        }
    }

    // showページ
    .show-show {
        h1 { font-size: 1.6rem; }
        .card-title { font-size: 1.2rem; }
        .card-text { font-size: 0.8rem; }
        .profile {
            padding: 10px;
            margin: 10px 0;
        }

        .event-show {
            margin-top: 40px;
        }

        .work-show {
            margin-top: 70px;
        }

        .comment-show {
            margin-top: 70px;
        }
    }
}
