.full-page {
    height: 100%;
    background-color: #EEF9FF;
    // background-color: #B0DEEC;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

    & header {
        height: 100%;
        background-color: white;
        .navbar-brand {
            font-size: 3.5rem;
            padding: 10px 0;
            color: #4E454A;
        }
    
        .nav-item {
            font-size: 1.4rem;
            margin-left: 30px;
            margin-top: 5px;
            & .nav-link {
                color: #292929;
            }
        }

        .nav-item.nav-event {
            margin-left: 100px;
        }
    }   
}

// indexページ
.sub-title {
    h1 {
        width: 70%;
        margin: 0 auto;
        font-size: 2rem;
    }
}
