// formページ
.user-form {
    input {
        width: 25%;
    }

    .submit-btn {
        width: 10%;
        margin-top: 30px;
    }
}

// editページ
.user-edit {
    input {
        width: 25%;
    }

    .profile-form {
        width: 50%;
        height: 140px;
    }

    .submit-btn {
        width: 10%;
    }
}

// showページ
.user-show-page {
    position: relative;
    height:1000px;

    .head {
        height: 150px;
        background-color: #7D7D7D;
    }

    .main {
        position: absolute;
        top:90px;
        left:50%;
        transform: translate(-50%, 0);
        background-color: white;
        border-radius:0.7%; width:70%;

        .profile-image {
            display: block;
            margin: 0 auto;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 2px solid #6C757D;
        }
    }
}


// レスポンシブ
@media (max-width: 600px) {
    // formページ
    .user-form {
        input {
            width: 100%;
        }
        .submit-btn {
            width: 50%;
        }
    }

    // editページ
    .user-edit {
        input {
            width: 100%;
        }

        .profile-form {
            width: 100%;
        }

        .submit-btn {
            width: 50%;
        }
    }
}
