// formページ
.user-form {
    input {
        width: 25%;
    }

    .submit-btn {
        width: 10%;
        margin-top: 30px;
    }
}

// editページ
.user-edit {
    input {
        width: 25%;
    }

    .profile-form {
        width: 50%;
        height: 140px;
    }

    .submit-btn {
        width: 10%;
    }
}

// showページ
.user-show-page {
    position: relative;
    height:1000px;

    .main {
        position: absolute;
        width:70%;
        top: 140px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: white;
        border-radius:0.7%;

        .profile-image {
            position: absolute;
            top: -100px;
            left: 50%;
            transform: translate(-50%, 0);
            display: block;
            margin: 0 auto;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 2px solid #6C757D;
        }

        .main-profile {
            min-height: 300px;
            margin-top: 150px;
        }
    }
}


// レスポンシブ
@media (max-width: 600px) {
    // formページ
    .user-form {
        input {
            width: 100%;
        }
        .submit-btn {
            width: 50%;
        }
    }

    // editページ
    .user-edit {
        input {
            width: 100%;
        }

        .profile-form {
            width: 100%;
        }

        .submit-btn {
            width: 50%;
        }
    }
}
