// newページ
.user-login {
    input {
        width: 25%;
    }

    .submit-btn {
        width: 10%;
        margin-top: 30px;
    }
}

// レスポンシブ
@media (max-width: 600px) {
    // newページ
    .user-login {
        input {
            width: 100%;
        }

        .submit-btn {
            width: 50%;
        }
    }
}
